body {
	background: #eee;
	padding: 0;
	margin: 0;
}

.toolbar {
	background: #ccc;
	margin-bottom: 5px;
}

.tbButton {
	background: #bbb;
	padding: 2px 5px;
	display: inline-block;
	margin-right: 5px;
}

.tbButton.tbSelected {
	background: #fff;
}

.stlCreator{
	margin-left: 500px;
	padding: 10px;
}

.stlCreator div {
	margin-bottom: 10px;
}

.three-canvas {
	background: #ffe;
}

.three-canvas.over {
	background: #fff;
}

label {
	margin-right: 20px;
}
