body {
	background: #eee;
	padding: 0;
	margin: 0;
}

.toolbar {
	background: #ccc;
	margin-bottom: 5px;
}

.tbButton {
	background: #bbb;
	padding: 2px 5px;
	display: inline-block;
	margin-right: 5px;
}

.tbButton.tbSelected {
	background: #fff;
}

.svgCanvas {

}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.stlCreator{
	margin-left: 500px;
	padding: 10px;
}

.stlCreator div {
	margin-bottom: 10px;
}

.three-canvas {
	background: #ffe;
	margin: 0 !important;
}

.three-canvas.over {
	background: #fff;
}

label {
	margin-right: 20px;
}

.progress {
	background: #fff;

}

.progress .bar {
	background: #349;
}
